<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804796753919-mg37t6j1dcf8rdt3k5jsu29lpt8j5k7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804796753919-mg37t6j1dcf8rdt3k5jsu29lpt8j5k7u</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Fq1dzpj_iVzJ-X5AFdent8m60MkLI9o</string>
	<key>GCM_SENDER_ID</key>
	<string>804796753919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahernurulhuda.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-c20c8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-c20c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:804796753919:ios:8d80cb52490f821ffc29ca</string>
</dict>
</plist>
